.glyphicon.glyphicon-heart {
	font-size: xx-large;
	color: white;
}

.glyphicon.glyphicon-heart.red {
	font-size: xx-large;
	color: red;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.row.actor{
	min-height : 400px;
}

:active {
    outline:none;
}
@import
url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')

.wrap
    {
        padding-top: 30px;
    }

    .glyphicon
    {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    small
    {
        display: block;
        color: #888;
    }

    .well
    {
        border: 1px solid blue;
    }
    
    .card{
    	color : black;
    }

    
    .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

#alert-button{
	padding-bottom: 20px;
}
#stars{
	padding-left: 5px;
}